.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.fullwidth-underdesktop {
  @extend .alignfull;
  @include bp(desktopxs) {
    margin-left: initial;
    margin-right: initial;
    width: 100%;
    max-width: 100%;
  }
}

/*
.alignwide {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
	padding-left: em(30);
	padding-right: em(30);
	@include bp(phonexsdown){
		padding-left: em(15);
		padding-right: em(15);
	}
	@include bp(tabletlandscape){
		margin-left: calc(50% - 600px);
		margin-right: calc(50% - 600px);
		max-width: $site_width_tabletlandscape;
		width: $site_width_tabletlandscape;
	}

	@include bp(laptopxs){
		max-width: $site_width_laptopxs;
		width: $site_width_laptopxs;
	}
	@include bp(desktopxs){
		max-width: $site_width;
		width: $site_width;
	}

}*/
