$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Add your main color variables here

$grey-text: #888888;
$dark-grey: #333333;
$white: #fff;
$off-white: #f4f9f5;
$body-text: #555555;
$text-secondary: #042f3d;
$main-blue: #025de0;
$accent-blue: #0c0b45;
$light-blue-bg: #f0f7fe;
$green: #36bf9e;
$purple: #8241d2;
$off-black: #1e1e1e;

$color__text-main: $off-black;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #5483db;
$color__link-visited: lighten($color__link, 10%);
$color__link-hover: lighten($color__link, 15%);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$blue: #5483db;
$blue_opac: rgba(46, 186, 236, 0.17);
$blue_menu: rgba(46, 186, 236, 0.5);

$green: #0ec997;
$darkblue: #14232f;
$border_color: #eaeaea;
$lightgray: #f7f7f7;

$blue_air: #658dad;

$grey: #555555;

$pink: #e0225c;
$lightgrey1: #f4f4f4;
$lightgrey2: #ededed;
$lightgrey3: #00000029;

$color__text-button: $white;
